.container {
    display: grid;
    grid-template-columns: 13% 13% 13% 17% 17% 17%;
    grid-template-rows: 35% 10% 30% 10%;
    gap: 5% 2%;
    grid-template-areas:
        "general general general port1 port3 port2"
        "divImage divImage divImage divImage divImage port2"
        "button led screen temperature humidity light"
        "error error error error error error";
}

.divImage {
    justify-self: start;
    grid-area: divImage;
}

.general {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 23.5% 23.5% 23.5% 23.5%;
    gap: 4% 2%;
    grid-template-areas:
        "configButton configButton infoWifi infoWifi"
        "wifiButton wifiButton infoWifi infoWifi"
        "nameUser nameUser libre2 libre2"
        "libre1 libre1 libre2 libre2";
    grid-area: general;
}

.configButton {
    grid-area: configButton;
}

.wifiButton {
    grid-area: wifiButton;
}

.nameUser {
    grid-area: nameUser;
}

.infoWifi {
    grid-area: infoWifi;
}

.libre1 {
    grid-area: libre1;
}

.libre2 {
    grid-area: libre2;
}

.led {
    grid-template-areas:
        "buttonActivateLed"
        "actionLed"
        "infoLed";
    grid-area: led;
}

.buttonActivateLed {
    grid-area: buttonActivateLed;
}

.actionLed {
    grid-area: actionLed;
}

.infoLed {
    grid-area: infoLed;
}

.button {
    grid-template-areas:
        "buttonActivateButton"
        "actionButton"
        "infoButton";
    grid-area: button;
}

.buttonActivateButton {
    grid-area: buttonActivateButton;
}

.infoButton {
    grid-area: infoButton;
}

.actionButton {
    grid-area: actionButton;
}

.screen {
    grid-template-areas:
        "buttonActivateScreen"
        "actionScreen"
        "infoScreen";
    grid-area: screen;
}

.buttonActivateScreen {
    grid-area: buttonActivateScreen;
}

.actionScreen {
    grid-area: actionScreen;
}

.infoScreen {
    grid-area: infoScreen;
}

.port1 {
    grid-template-areas:
        "infoPort1"
        "selectPort11"
        "selectPort12";
    grid-area: port1;
}

.infoPort1 {
    grid-template-areas:
        "namePort1"
        "actionPort1";
    grid-area: infoPort1;
}

.namePort1 {
    align-self: start;
    grid-area: namePort1;
}

.actionPort1 {
    align-self: start;
    grid-area: actionPort1;
}

.selectPort11 {
    grid-area: selectPort11;
}

.selectPort12 {
    grid-area: selectPort12;
}

.port2 {
    grid-template-areas:
        "infoPort2"
        "selectPort2"
        "listSensorPort2";
    grid-area: port2;
}

.infoPort2 {
    grid-template-areas:
        "namePort2"
        "actionPort2";
    grid-area: infoPort2;
}

.namePort2 {
    grid-area: namePort2;
}

.actionPort2 {
    grid-area: actionPort2;
}

.selectPort2 {
    grid-area: selectPort2;
}

.listSensorPort2 {
    grid-area: listSensorPort2;
}

.port3 {
    grid-template-areas:
        "infoPort3"
        "selectPort31"
        "selectPort32";
    grid-area: port3;
}

.infoPort3 {
    grid-template-areas:
        "namePort3"
        "actionPort3";
    grid-area: infoPort3;
}

.namePort3 {
    grid-area: namePort3;
}

.actionPort3 {
    grid-area: actionPort3;
}

.selectPort31 {
    grid-area: selectPort31;
}

.selectPort32 {
    grid-area: selectPort32;
}

.temperature {
    grid-template-areas:
        "buttonActivateTemperature"
        "actionTemperature"
        "infoTemperature";
    grid-area: temperature;
}

.buttonActivateTemperature {
    grid-area: buttonActivateTemperature;
}

.infoTemperature {
    grid-area: infoTemperature;
}

.actionTemperature {
    grid-area: actionTemperature;
}

.humidity {
    grid-template-areas:
        "buttonActivateHumidity"
        "actionHumidity"
        "infoHumidity";
    grid-area: humidity;
}

.buttonActivateHumidity {
    grid-area: buttonActivateHumidity;
}

.infoHumidity {
    grid-area: infoHumidity;
}

.actionHumidity {
    grid-area: actionHumidity;
}

.light {
    grid-template-areas:
        "buttonActivateLight"
        "actionLight"
        "infoLight";
    grid-area: light;
}

.buttonActivateLight {
    grid-area: buttonActivateLight;
}

.actionLight {
    grid-template-areas:
        "nameInputLight"
        "minInputLight"
        "maxInputLight";
    grid-area: actionLight;
}

.nameInputLight {
    grid-area: nameInputLight;
}

.minInputLight {
    grid-area: minInputLight;
}

.maxInputLight {
    grid-area: maxInputLight;
}

.infoLight {
    grid-area: infoLight;
}

.error {
    justify-self: start;
    align-self: end;
    grid-area: error;
}


.blocSensor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 32% 32%;
    gap: 2% 0%;
    grid-auto-flow: row;
}

.infoPort {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 49% 49%;
    gap: 2% 0%;
    grid-auto-flow: row;
    align-self: stretch;
}