.grid-container {
    display: grid;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
}

.itemOnMicro {
    grid-column: 1;
    grid-row: 1;
}

.itemPortSensor1 {
    grid-column: var(--debutPort1);
    grid-row: 3;
}

.itemImage {
    grid-column: var(--debutImage);
    grid-row: 1 / span 3;
}

.itemPortSensor3 {
    grid-column: var(--debutPort3);
    grid-row: 3;
}

.itemPortSensor2 {
    grid-column: var(--debutImage);
    grid-row: 4;
}

.select2-offscreen{
    display: none;
    visibility: hidden;
}


